#bodyBg {
    background-image: url('https://i.imgur.com/QrLSPUv.jpeg');
    background-position: center center;
    background-size: cover;
}
#mainBody {
    display: flex;
    justify-content: space-between;
}
#search {
    width: 40%;
}
#searchField {
    margin-left: 10px;
}
#searchButton {
    margin-top: 20px;
}
#allButton{
    margin-top: 20px;
    margin-left: 30px;
}
#create {
    margin-top: 40px;
    margin-left: 30px;
    width: 30%;
}
.createBox {
    margin-bottom: 3px;
}
#createButton {
    margin-top: 5px;
}
.scroll {
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
    width: 50%;
    height: 800px;
    border-style: solid;
    border: 4px;
    border-color: black;
    border-radius: 20px;
    background-color: dimgray;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    color: white;
}
#header{
    width: 80%;
    margin: auto;
    border: 4px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    background-color: antiquewhite;
    text-align: center;
}
#head {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Montserrat;
    font-size: 400%;
}
#footer {
    width: 50%;
    margin: auto;
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    text-align: center;
    align-items: end;
    background-color: slategray;
}
#foot {
    color: white;
}
#headSub {
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
.subText {
    text-align: center;
}